body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
/*header*/
.navbar-brand {
    padding-right: 30px;
    padding-top: 100px;
}

.nav-item{
    padding: 10px 10px 10px 10px;
}

/*header*/

/*section1*/
.section1{
    background-image: url("https://lh3.googleusercontent.com/0nxiaxhw7-Z4wPs5yBGLXFnVmX-AqeBAJhyV51ij5RH77m_z3QYSRH3nrVPU1NVi3lhIspMthtShzqX1sGqz1GesKXwhhOiMyLxta-q6QBnwQ9kjShTKFk9C1-LnkePqEmDEpSAbEw=w2400");
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}
#h2{
   color: black; 
   margin-top: 65px;
}
/*section1*/

/*footer*/
.footer{
  color: black; 
  display: inline-block;
  font-size: 15px;
}
/*footer*/